body {
  font-family: Helvetica;
  text-align: center;
}

.bg-image {
  background-image: url("../images/the-flatiron-building.png");
}

.white {
  color: white;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

a {
  font-size: 18px;
  color: white;
}

li {
  list-style: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
